<% if user_signed_in? %>
  <% provide(:title,"投稿一覧") %>
  <div class="row">
    <aside class="col-md-4 user-section">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
     <%= render 'shared/feed' %>
   </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>さあ、素敵な一枚をここに。</h1>

    <div class="login-section">
      <%= link_to "ログイン", login_path, class: "login-btn btn btn-lg btn-info" %>
      <span>または</span>
      <%= link_to omniauth_authorize_path(:user, :facebook),class: "facebook-login-btn btn btn-lg btn-info" do %>
        <i class="fab fa-facebook-square"></i>
        <span>Facebookでログイン</span>
      <% end %>
    </div>
    <p>アカウントをお持ちでない方</p>
    <%= link_to "新規登録", signup_path ,class: "signup-btn btn btn-lg btn-primary" %>
  </div>
<% end %>
