<% provide(:title,"ユーザー編集") %>

<div class="edit-page center">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h3 class="publick-info section-title">
    <span>公開情報</span>
  </h3>

  <div class="field">
    <%= f.label :name,"フルネーム" %><br/>
    <%= f.text_field :name  %>
  </div>

  <div class="field">
    <%= f.label :nickname,"ニックネーム" %><br/>
    <%= f.text_field :nickname  %>
  </div>

  <div class="field">
    <%= f.label :website,"Webサイト" %><br/>
    <%= f.text_field :website  %>
  </div>

  <div class="field">
    <%= f.label :selfintro,"自己紹介文" %><br/>
    <%= f.text_area :selfintro,size: "40x5"  %>
  </div>

  <h3 class="private-info section-title">
    <span>非公開情報</span>
  </h3>

  <div class="field">
    <%= f.label :email,"Eメール"%><br/>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :phonenumber,"電話番号"%><br/>
    <%= f.text_field :phonenumber %>
  </div>

  <div class="field">
    <%= f.label :sex %><br />
    <%= f.label :man,"男性"  %>
    <%= f.radio_button :sex, :man %>
    <span> | <span>
    <%= f.label :woman,"女性"  %>
    <%= f.radio_button :sex, :woman %>
</div>

  <div class="actions">
    <%= f.submit "更新する",class: "update-btn btn btn-primary" %>
  </div>
<% end %>

<%= link_to "パスワードを更新する方はこちら",edit_password_edit_path(current_user) %>

<h3>アカウントを削除する</h3>

<%= button_to "削除", registration_path(resource_name), data: { confirm: "アカウントを削除してよろしいですか?" }, method: :delete,class: "delete-btn btn btn-danger" %>

<%= link_to "戻る", :back %>

</div>
