<% provide(:title,"新規登録") %>
<div class="modal fade" id="plivacypolicy-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
<div class="signup-page center ">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname %>
    </div>



    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上入力してください。)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <br>
    <%= f.check_box :agreement, :as => :boolean, checked:false %>
    <%= link_to "プライバシーポリシー",plivacypolicy_path,remote: true %>に同意する

    <div class="actions">
      <%= f.submit class: "registration-btn btn btn-lg btn-primary" %>
    </div>
  <% end %>

  <div class="other-login">
    <%= render "devise/shared/links" %>
  </div>

</div>
