<li id="comment-<%= comment.id %>">
  <div class="user">
    <%= link_to image_tag(comment.user.image,class: "comment_icon"), comment.user %>
    <%= link_to comment.user.nickname, comment.user %>
  </div>
  <div class="content">
    <div class="comment-content">
      <div><%= comment.content %></div>
    </div>
    <div class="timestamp-content">
      <div><%= time_ago_in_words(comment.created_at) %>前<div>
    </div>
  </div>

</li>
