<% visiter = notification.visiter %>
<% micropost = notification.micropost %>
<div class="user-view clearfix ">
  <%= link_to user_path(notification.visiter) do %>
    <%= image_tag visiter.image %>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span>
  <br>
  <% if !@comment.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
  <% end %>
</div>
