<div class="notification-page">
  <% provide(:title,"通知") %>
  <%= link_to notifications_destroy_path,method: :delete do %>
      <i class="fas fa-trash" style="color: black;"></i>
      <h7 style="color: black;">全削除</h7>
  <% end %>
      <hr>
  <% if @notifications.exists? %>
      <div class="users-index">
          <%= render @notifications %>
      </div>
  <% else %>
      <p>通知はありません</p>
  <% end %>
</div>
