<%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id),
            html: { method: :delete }, remote: true) do |f| %>
  <%= f.submit "フォロー解除", class: "unfollow-btn btn" %>
<% end %>
