<% provide(:title, @user.nickname) %>
<div class="modal fade" id="micropost-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.image, alt: @user.nickname, class: "my_icon" %>
        <%= @user.nickname %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <% if @user == current_user %>
      <%= link_to "ユーザー情報を編集する",edit_user_registration_path(@user),class: "edit-path" %>
    <% end %>
    <section class="self-intro">
      <p>
        <%= @user.selfintro %>
      </p>
      <br>
      <% if !@user.website.nil? %>
        <p>
          <%= link_to @user.website,@user.website %>
        </p>
      <% end %>
    </section>
    <section>
      <%= render 'follow_form' if user_signed_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>投稿<%= @user.microposts.count %>件</h3>
      <ol class="one-user-microposts">
        <% @user.microposts.each do |micropost| %>
        <li>
            <%= link_to image_tag(micropost.display_image),micropost_path(micropost),remote: true %>
        </li>
        <% end %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
