<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= link_to image_tag(@user.image,class: "my_icon"), @user  %>
      <h1><%= @user.nickname %></h1>
      <span><%= link_to "ユーザーページ", @user %></span>
      <span><b>投稿:</b> <%= @user.microposts.count %>件</span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to image_tag(user.image), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
