<div class="micropost-menu">
  <span class="like" id="like_form_<%= micropost.id %>">
    <% if micropost.liked_by.include?(current_user) %>
      <%= render "microposts/unlike", micropost: micropost %>
    <% else %>
      <%= render "microposts/like", micropost: micropost %>
    <% end %>
  </span>
  <span class="comment-form">
    <%= form_with(model: [micropost,@comment], local: true)do |f| %>
      <span class="comment-content">
        <%= f.text_field :content %>
      </span>
      <%= f.submit "コメントする", class: "btn btn-primary" %>
    <% end %>
  </span>
  <% if current_user == micropost.user  %>
    <%= link_to "削除", micropost, method: :delete,
                                     data: { confirm: "本当によろしいですか?" },class: "comment-delete-btn btn btn-danger" %>
  <% end %>
</div>
