<%= link_to image_tag(current_user.image,class: "my_icon"), current_user %>
<h1><%= current_user.nickname %></h1>
<span><%= link_to "マイページ", current_user %></span>
<span><b>投稿:</b> <%= current_user.microposts.count %>件</span>
