<% provide(:title,"ログイン") %>
<div class="login-page center">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "ニックネーム" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン",class: "sessions-btn btn btn-lg btn-info"  %>
    </div>
  <% end %>

  <div class="other-login">
    <%= render "devise/shared/links" %>
  </div>

</div>
