<%= form_for(current_user.favorite_relationships.build,remote: true) do |f| %>
  <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
  <%= button_tag(class: "btn btn-default" ) do %>
    <%= content_tag :span, micropost.liked_by.count, class: "glyphicon glyphicon-heart-empty" %>
  <% end %>
<% end %>
