<div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
     <div class="modal-body">
       <div class="image-content">
        <%= image_tag @micropost.display_image  %>
      </div>
       <h2>コメント一覧</h2>
       <% if @comments.any? %>
         <ol class="comments">
           <%= render @comments %>
         </ol>
       <% end %>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
