<li id="micropost-<%= micropost.id %>">
  <div class="micropost-user">
    <%= link_to image_tag(micropost.user.image), micropost.user %>
    <%= link_to micropost.user.nickname, micropost.user %>
  </div>
  <span class="content">
    <%= link_to image_tag(micropost.display_image),micropost_path(micropost) if micropost.image.attached? %>
    <span class="timestamp">
      <%= time_ago_in_words(micropost.created_at) %>前
    </span>
  </span>
  <% if current_page?(controller: 'static_pages', action: 'home') %>
    <%= render "shared/micropost_menu",{micropost: micropost,comment: @comment} %>
  <% end %>



</li>
