<%= form_for(current_user.favorite_relationships.find_by(micropost_id: micropost.id),
             html: { method: :delete },remote: true) do |f| %>
  <%= button_tag( class: "btn btn-default") do %>
    <%= content_tag :span, micropost.liked_by.count, class: "glyphicon glyphicon-heart" %>
  <% end %>
<% end %>
