<% provide(:title,"投稿") %>
<div class="micropost-create-form center" >
  <%= form_with(model: @micropost, local: true) do |f| %>
    <div class="field">
      <%= f.file_field :image,accept: "image/jpeg,image/png",required: "required" %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>
<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("5MB以上の写真は投稿できません。");
      $("#micropost_image").val("");
    }
  });
</script>
