<div class="micropost-image">
  <%= image_tag @micropost.display_image  %>
</div>
<div class="like" id="like_form_<%= @micropost.id %>">
  <% if @micropost.liked_by.include?(current_user) %>
    <%= render "microposts/unlike", micropost: @micropost %>
  <% else %>
    <%= render "microposts/like", micropost: @micropost %>
  <% end %>
</div>
<h2>コメント一覧</h2>
<% if @comments.any? %>
  <ol class="comments">
    <%= render @comments %>
  </ol>
<% end %>
<%= form_with(model: [@micropost,@comment], local: true)do |f| %>
  <span class="comment-content">
    <%= f.text_field :content %>
  </span>
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>
