<% provide(:title,"パスワード編集") %>
<div class="password-edit-page center">
  <%= form_with(model: @user,url: password_edit_path(params[:id]), local: true) do |f| %>
  <% if !@error_message.nil? %>
    <%= @error_message %>
  <% end %>
    <div class="field">
      <%= f.label :current_password %><br/>
      <%= f.password_field :current_password  %>
    </div>
    <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
    </div>
    <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "更新する",class: "update-btn btn btn-primary" %>
    </div>
  <% end %>
</div>
