@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body{
  padding-top:60px;
}

.center{
  text-align: center;
}

.center h1{
  padding-bottom: 50px;
}

.section-title{
  font-size:40px;
  font-weight: bold;
  margin-bottom:40px;
  span{
    border-bottom: solid 7px #2e6da4;
  }
}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo{
  float:left;
  font-size:2.0em;
  color:#fff;
  opacity:1.0;
  padding-top:5px;;
  font-weight:bold;
}

#logo:hover {
  color: #fff;
  opacity:0.5;
  text-decoration: none;
}
.page-title{
  position:absolute;
  width:100%;
  text-align:center;
  line-height:55px;
  font-size:1.5em;
  color:white;
  font-weight:bold;
}

header .container{
  position:relative;
}

.search-form-pc{
  margin-top: 16px;
  display: none;
}
.search-field{
  width:125px;
  border-radius:2px 0 0 2px;
  background:#eee;
  border:none;
}
.search-button{
  border-radius:0 2px 2px 0;
  background:#7fbfff;
  border:none;
  color:#fff;
  font-weight:bold;
  font-size:14px;
}
.header-myicon{
  height:25px;
  width:25px;
}





/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* error_messages */
.error-messages-list li{
  list-style: none;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.user-section{
  padding-bottom:30px;
}

.my_icon {
  width:110px;
  height:auto;
  float: left;
  margin-right: 10px;
}

.my_icon_edit {
  margin-top: 15px;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0 40px 0;
    border-top: 1px solid #e8e8e8;
  }
  .micropost-user {
    padding-top: 0;
    display:flex;
    float:left;
    flex-direction: column;
    text-align: center;
    width:50px;
    a{
      display: inline-block;
      word-wrap: break-word;
    }
    img{
      width:50px;
      height:auto;
    }
  }
  .content {
    display: block;
    img {
      padding: 5px 0 5px 20px;
    }
    .timestamp {
      color: $gray-light;
      display: block;
    }
  }
  .micropost-menu{
    margin-top:20px;
  }
  .comment-delete-btn{
    margin-left:20px;
  }
  .my_icon {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.micropost-image{
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}
.micropost-image + .like{
  width:100%;
  text-align: center;
}
.like + h2{
  text-align: left;
  border-bottom:1px solid #e8e8e8;
  padding-bottom:10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* home */
.login-btn + span{
  display:block;
}

.login-section + p{
  padding-top:60px;
}

.signup-btn{
  width:250px;
}

/* registrations/new */
.signup-page{
  padding-top:40px;
}
.field + .field{
  padding-top:30px;
}
.registration-btn{
    margin-top:30px;
    width:150px;
}
.other-login{
  margin-top:30px;
}


/* registrations/edit */
.publick-info{
  padding-top:20px;
}

.private-info{
  padding-top:40px;
}

.update-btn{
  margin-top:30px;
  margin-bottom:15px;
  width:150px;
}

.edit-page h3{
  padding-top:50px;
}
.delete-btn{
  margin-top:10px;
  margin-bottom:90px;
}


/*sessions/new */
.login-page{
  padding-top:40px;
}

.sessions-btn{
  margin-top:30px;
  width:150px;
}

/* users/show */
.edit-path{
  display:inline-block;
  padding-top:10px;

}
.one-user-microposts{
  border-top: 1px solid #e8e8e8;
  list-style: none;
  display:flex;
  flex-wrap: wrap;
  padding:20px 0 0 0;
  li{
  width:calc(100% / 3);
  box-sizing: border-box;
  padding:10px 20px;
  text-align: center;
  a{
    display:inline-block;
    height:100%;
    line-height: 240px;
    img{
      max-width: 100%;
      height: auto;

      }
    }
  }
}
/* password_edits/edit */
.password-edit-page{
  padding-top:30px;
}
/* microposts/new */
.micropost-create-form{
  margin-top:20px;
  display: flex;
  justify-content: center;

  input{
    margin-bottom:20px;
  }

}

/* searchs/index */
.search-page{
  padding-top:30px;
  .search-form{
    padding-bottom:30px;
    .search-field{
      border:2px solid #7fbfff;
      border-radius: 2px;
    }
    .search-button{
      box-sizing: border-box;
      display: inline-block;
      padding-top:3px;
      padding-bottom:3px;
    }
  }

}





.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  img{
    width:30px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding:20px 0 0 0;
  border-top:1px solid #e8e8e8;
  li{
    padding: 10px 0 10px 0;
    list-style: none;
    img{
      width:50px;
    }
  }
}

.fa-circle{
  z-idex: 1031;
}

/* follow,unfollow */
.follow-btn,.unfollow-btn{
  width:100%;
}


/* likes */
.like{
  float:left;
  margin-right:20px;
}
.glyphicon-heart {
  color: red;
}
.btn-default:hover > .glyphicon-heart-empty {
  color: red;
}
.btn-default {
  position: relative;
}
/* comment */

.comment-form{
  float:left;
}
.comments{
  padding:0;
  li{
    display:flex;
    list-style: none;
    margin-bottom:10px;
  }
  .user{
    display:flex;
    flex-direction: column;
    width:55px;
    a{
      text-align:center;
      word-wrap: break-word;
    }
    .comment_icon{
      width:30px;
      height:auto;
      text-align: center;
    }

  }
  .content{
    position:relative;
    width:100%;
    margin-left:20px;
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: -30px;
      margin-top: -15px;
      border: 15px solid transparent;
      border-right: 15px solid #e0edff;
    }
    .comment-content{
      max-width: 100%;
      padding-left:20px;
      padding-right:20px;
      background: #e0edff;
      border-radius: 5px;
      height:100%;
      float:left;
      display:flex;
      align-items: center;
    }
    .timestamp-content{
      float:right;
      color: $gray-light;
      float:left;
      height:100%;
      display:flex;
      align-items:center;
      padding-left: 5px;
    }

  }

}
/* norification */
.user-view{
  margin-top:5px;
  margin-bottom:5px;
  img{
    width:50px;
    height:auto;
    margin-right:10px;
  }
}
.notification-page{
  margin-top:30px;
}

.notification{
  position:relative;
  .notification-icon{
    position:absolute;
    top:16px;
    left:14px;
    z-index: 10000
  }
}

/* modal */
.modal-body{
  .image-content{
    text-align: center;
  }
}
.image-content + h2{
  text-align: left;
  border-bottom:1px solid #e8e8e8;
  padding-bottom:10px;
}
@media (min-width: 992px){
  .search-form-pc{
    margin-top: 16px;
    display: inline-block;
  }
  .nav > li > .search-form{
    display:none;
  }
}
