<% provide(:title,"検索") %>
<div class="search-page">
  <%= search_form_for @q, url: searchs_path,class: "search-form" do |f| %>
    <%= f.search_field :content_cont,class: "search-field" %>
    <%= f.submit '検索',class: "search-button" %>
  <% end %>
  <% if @comments.any? %>
    <ol class="microposts">
      <% @comments.each do |comment| %>
        <%  micropost = comment.micropost %>
        <%= render micropost %>
      <% end %>
    </ol>
  <% end %>
</div>
