<footer>
  <nav>
    <ul>
      <li><%= link_to "ヘルプ", help_path %></li>
      <li><%= link_to "お問い合わせ",contact_path %></li>
      <li><%= link_to "このサイトについて",about_path %></li>
    </ul>
  </nav>
</footer>
