<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "写真投稿サイト",root_url,id:"logo" %>
    <div class="page-title">
      <%= yield(:title) %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li style="font-size: 0.7rem;">
            <%= link_to searchs_path,class: "search-form" do %>
              <i class="fas fa-search fa-3x" style="color: white;"></i>
            <% end %>
          </li>
          <li>
            <%= search_form_for @q, url: searchs_path,class: "search-form-pc" do |f| %>
              <%= f.search_field :content_cont ,placeholder: "キーワードを入力",class: "search-field" %>
              <%= f.submit '検索',class: "search-button" %>
            <% end %>
          </li>
          <li class="notification" style="font-size: 0.7rem;">
            <% if unchecked_notifications.any? %>
              <i class="notification-icon fas fa-circle" style="color: gold;"></i>
            <% end %>
              <%= link_to notifications_path do %>
                <i class="fas fa-bell fa-3x" style="color: white;"></i>
              <% end %>
          </li>
          <li style="font-size: 0.7rem;">
            <%= link_to new_micropost_path do %>
              <i class="fas fa-clipboard fa-3x" style="color: white;"></i>
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag current_user.image,class: "header-myicon"  %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to  "ホーム",root_url %></li>
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "編集", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to  "ホーム",root_url %></li>
          <li><%= link_to  "ログイン",login_path %></li>

        <% end %>
      </ul>
    </nav>
  </div>
</header>
